{% load staticfiles extra_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Allofood{% endblock %}</title>
    {% block dependencies %}
        <link rel="stylesheet" href="{% static 'allofood/css/' %}font-awesome-4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="{% static 'allofood/css/' %}bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'allofood/css/' %}bootstrap-4/css/animate.min.css">
{#        <link rel="stylesheet" type="text/css" href="{% static 'allofood/css/' %}animate.min.css">#}
        <link rel="stylesheet" type="text/css" href="{% static 'allofood/css/' %}services-css.css">
        <link rel="stylesheet" type="text/css" href="{% static 'allofood/css/' %}2n.css">
        <link rel="stylesheet" type="text/css" href="{% static 'allofood/css/' %}panier.css">
        <link rel="stylesheet" type="text/css" href="{% static 'allofood/css/' %}caroussel-css.css">
        <link rel="stylesheet" type="text/css" href="{% static 'allofood/css/' %}miniprojet.css">
        <link rel="stylesheet" type="text/css" href="{% static 'allofood/css/' %}side-cart.css">
        <link rel="stylesheet" type="text/css" href="{% static 'allofood/css/' %}sign-in.css">
        <link rel="stylesheet" type="text/css" href="{% static 'allofood/css/' %}sign-up.css">
        <link rel="stylesheet" type="text/css" href="{% static 'allofood/css/' %}nav.css">
        {#        <link rel="stylesheet" type="text/css" href="{% static 'allofood/css/' %}sedeconnecter.css">#}

        <script src="{% static 'allofood/js/' %}jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="{% static 'allofood/js/' %}bootstrap.js"></script>
        <script type="text/javascript" src="{% static 'allofood/js/' %}nav.js"></script>

        {#                <script type="text/javascript" src="{% static 'allofood/js/' %}side-cart.js"></script>#}

    {% endblock %}

    {% block extra_dependencies %}
    {% endblock %}

</head>
<body>

{% block nav %}

    {% include const.nav %}

    {#    {% if request.session.user %}#}
    {#        {% include const.online_nav %}#}
    {#    {% else %}#}
    {#        {% include const.offline_nav %}#}
    {#    {% endif %}#}
{% endblock %}

{% block body %}

{% endblock %}

{% block mainScript %}
    <script>

        $(function () {
            $(document).on('click', '.btn-increment, .btn-decrement, .button-add, .delete-product', function (event) {
                event.preventDefault()
                console.log('it is ', $(this).attr("class"))
                var quantity = 1, price = 0, product;
                if ($(this).hasClass('button-add')) {
                    price = parseInt($(this).parent().children('.prix2n').text())
                    product = $(this).parent().find('h4').text()
                } else if ($(this).hasClass('delete-product')) {
                    quantity = -1 * parseInt($(this).parents('li').find('.input-quantity').val());
                    product = $(this).parents('li').find('.title').text()
                } else {
                    if ($(this).hasClass('btn-decrement')) {
                        quantity = -1
                    }
                    product = $(this).parent().siblings('.cart-info.title').text()
                }

                console.log("in js: ", product, quantity, price);
                var URL = {% url 'cart' %}
                    $.ajax({
                        method: "POST",
                        url: URL,
                        data: {
                            'price': price,
                            'product': product,
                            'quantity': quantity,
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                        },
                        success: handleFormSuccess,
                        error: handleFormError,
                    })
            });
            $(document).on('focus', '.input-quantity', function (event) {
                $(this).attr('oldValue', parseInt($(this).val()));
            });

            $(document).on('change', '.input-quantity', function (event) {
                console.log("the old val : ", $(this).attr('oldValue'))
                var quantity = parseInt($(this).val() - $(this).attr('oldValue'))
                var product = $(this).parents('li').children('.title.cart-info').text()
                console.log("updating ", product, quantity)
                var URL = {% url 'cart' %}
                    $.ajax({
                        method: "POST",
                        url: URL,
                        data: {
                            'product': product,
                            'quantity': quantity,
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                        },
                        success: handleFormSuccess,
                        error: handleFormError,
                    })
            });

            function handleFormSuccess(data, textStatus, jqXHR) {
                console.log(data);
                $('.badge-panier').html(data.items);
                $("#cd-cart").html(data.cart)
                    .append('<a href="{% url 'checkout' %}" class="checkout-btn" name="checkout">Checkout</a>')
                $("#cdd-cart").html(data.cart)

            }

            function handleFormError(jqXHR, textStatus, errorThrown) {
            }
        })
    </script>
{% endblock %}

{% block cart %}

    <div id="cd-cart">

        {% if request.session.cart %}
            {% autoescape off %}
                {{ request.session.cart|json_cart_to_html }}
            {% endautoescape %}
            <a href="{% url 'checkout' %}" class="checkout-btn" name="checkout">Checkout</a>
        {% else %}
            <div class="cart-item-header">
                <div class="cart-info title">Product</div>
                <div class="cart-info quantity">Quantity</div>
                <div class="cart-info price">Sub Total</div>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% block footer %}

    <footer class="col-md-12">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h4>Contact us </h4>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> hadibrerhi@gmail.com</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> +213554297482</p>
                    <p><i class="fa fa-facebook-square" aria-hidden="true"></i> https://www.facebook.com/hadi.brerhi</p>
                    <p><i class="fa fa-globe" aria-hidden="true"></i>allofood.dz</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h4> About</h4>
                    <p><i class="fa fa-square-o" aria-hidden="true"></i> About us</p>
                    <p><i class="fa fa-square-o" aria-hidden="true"></i> Privacy</p>
                    <p><i class="fa fa-square-o" aria-hidden="true"></i> Terms & conditions</p>
                        <p><i class="fa fa-square-o" aria-hidden="true"></i>Contact us</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h4> Stay in touch </h4>
                    <i class="social fa fa-facebook" aria-hidden="true"></i>
                    <i class="social fa fa-twitter" aria-hidden="true"></i>
                    <i class="social fa fa-linkedin" aria-hidden="true"></i>
                    <i class="social fa fa-pinterest" aria-hidden="true"></i>
                    <i class="social fa fa-youtube" aria-hidden="true"></i>
                    <i class="social fa fa-github" aria-hidden="true"></i><br>
                    <div class="row">
                        <div class="col-md-6">
                            <input type="email" placeholder="Subscribe for updates" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-success">Subscribe</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright text-center">
                <i class="fa fa-copyright"> All COPYRIGHT RESERVED 2019</i>
            </div>
        </div>
    </footer>
{% endblock %}
</body>
</html>