
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100%;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: tomato;
 /* background-image:url('miniprojet.jpg');*/
  background-size: cover;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
#contact select,
#contact input[type="text"],
#contact input[type="password"],
#contact input[type="buttom"],
#contact input[type="submit"],
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 100px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact select,
#contact input[type="text"],
#contact input[type="password"],
#contact input[type="buttom"]{
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact select:hover,
#contact input[type="text"]:hover,
#contact input[type="password"]:hover,
#contact input[type="buttom"]:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact input[type="submit"],
#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: tomato;
  color: #FFF;
  margin: 50px 0 5px;
  padding: 10px;
  font-size: 15px;
}
#PhotoResto:hover,
#SliderShow:hover,
#PhotoProduit:hover,
#contact input[type="submit"]:hover,
#contact button[type="submit"]:hover {
  background: red;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
#contact input[type="submit"]:active,
#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}


#contact input:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

#PhotoResto,
#SliderShow,
#PhotoProduit{
    background-color: orange;
    border: 0.5px solid orange;
    border: none;
    color: white;
    padding: 9px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin:4px 2px;
    cursor: pointer;
	width: 100%;

}
p{
	color:red;
}