/* --------------------------------

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: gray;
  z-index: 5;
}
@media only screen and (min-width: 1200px) {
  header {
    height: 50px;
  }
}


#cd-hamburger-menu {
  position: absolute;
  top: 0;
  height: 100%;
}
#cd-hamburger-menu a{
  width: 60px;
  height: 100%;
}

#cd-hamburger-menu {
  left: 0;
}
#cd-hamburger-menu a {
  background: #26292f url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-hamburger-menu.svg") no-repeat center center;
}
@media only screen and (min-width: 1200px) {
  #cd-hamburger-menu {
    display: none;
  }
}

#main-nav, #cd-cart {
  position: fixed;
  top: 0;
  height: 100%;
  width: 260px;
  /* header height */
  padding-top: 50px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
@media only screen and (min-width: 768px) {
  #main-nav, #cd-cart {
    width: 350px;
  }
}
@media only screen and (min-width: 1200px) {
  #main-nav, #cd-cart {
    width: 35%;
    /* header height has changed */
    padding-top: 80px;
  }
}

#main-nav {
  left: -100%;
  background: #FFF;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
}
#main-nav.speed-in {
  left: 0;
}
#main-nav ul a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 1em;
  border-bottom: 1px solid #e0e6ef;
}
#main-nav ul .current {
  box-shadow: inset 3px 0 #435779;
}

@media only screen and (min-width: 1200px) {
  #main-nav {
    /* reset main nav style */
    position: absolute;
    height: auto;
    width: auto;
    left: auto;
    right: 8em;
    padding-top: 0;
    top: 0;
    background: transparent;
    box-shadow: none;
    /* header height */
    line-height: 80px;
    z-index: 4;
  }
  #main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  #main-nav ul a {
    display: inline-block;
    height: auto;
    line-height: 1;
    padding: 1em 1.4em;
    border-bottom: none;
    color: rgba(255, 255, 255, 0.8);
    border-radius: 0.25em;
  }
  #main-nav ul a.current {
    box-shadow: none;
    background: #435779;
    color: #FFF;
  }
  .no-touch #main-nav ul a:hover {
    background: #435779;
    color: #FFF;
  }
}
.no-js #main-nav {
  position: fixed;
}

#cd-cart {
  right: -100%;
  background: #FFF;
  -webkit-transition: right 0.3s;
  -moz-transition: right 0.3s;
  transition: right 0.3s;
}
#cd-cart.speed-in {
  right: 0;
}
#cd-cart > * {
  padding: 0 1em;
}
#cd-cart h2 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}
#cd-cart .cd-cart-items {
  padding: 0;
}
#cd-cart .cd-cart-items li {
  position: relative;
  padding: 1em;
  border-bottom: 1px solid #e0e6ef;
}

#cd-cart .cd-qty, #cd-cart .cd-price {
  color: #a5aebc;
}
#cd-cart .cd-price {
  margin-top: .4em;
}
#cd-cart .cd-item-remove {
  position: absolute;
  right: 1em;
  top: 50%;
  bottom: auto;
  width: 73px;
  height: 36px;
     border: 0;
    background-color: #c66;
    color: #fff;
    font-size: 13px;
    border-radius: 3px;
}
.no-touch #cd-cart .cd-item-remove:hover {
  background-color: #e0e6ef;
}
#cd-cart .cd-cart-total {
  padding-top: 1em;
  padding-bottom: 1em;

}
#cd-cart .cd-cart-total p {
  font-size:18px;
}
#cd-cart .cd-cart-total span {
  /*float: right;*/
  font-size:17px;
  font-weight:bold;
}
#cd-cart .cd-cart-total::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
#cd-cart .checkout-btn {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background: #7dcf85;
  color: #FFF;
  text-align: center;
}
.no-touch #cd-cart .checkout-btn:hover {
  background: #a2dda8;
}
#cd-cart .cd-go-to-cart {
  text-align: center;
  margin: 1em 0;
}
#cd-cart .cd-go-to-cart a {
  text-decoration: underline;
}
@media only screen and (min-width: 1200px) {
  #cd-cart > * {
    padding: 0 2em;
  }

  #cd-cart .cd-item-remove {
    right: 2em;
  }
}

/* --------------------------------

xgallery

-------------------------------- */
main {
  position: relative;
  min-height: 100%;
  background: #eeeff7;
  padding-top: 70px;
  z-index: 1;
}
@media only screen and (min-width: 768px) {
  main {
    padding-top: 90px;
  }
}
@media only screen and (min-width: 1200px) {
  main {
    padding-top: 120px;
  }
}

#cd-gallery-items li {
  margin-bottom: 1.5em;
}
#cd-gallery-items li img {
  width: 100%;
  display: block;
  border-radius: 0.25em;
}
@media only screen and (min-width: 768px) {
  #cd-gallery-items li {
    width: 48%;
    float: left;
    margin-bottom: 2em;
    margin-right: 4%;
  }
  #cd-gallery-items li:nth-child(2n) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
  #cd-gallery-items li {
    width: 31%;
    float: left;
    margin-bottom: 2.5em;
    margin-right: 3.5%;
  }
  #cd-gallery-items li:nth-child(2n) {
    margin-right: 3.5%;
  }
  #cd-gallery-items li:nth-child(3n) {
    margin-right: 0;
  }
}

#cd-shadow-layer {
  position: fixed;
  min-height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(67, 87, 121, 0.6);
  cursor: pointer;
  z-index: 2;
  display: none;
}
#cd-shadow-layer.is-visible {
  display: block;
  -webkit-animation: cd-fade-in 0.3s;
  -moz-animation: cd-fade-in 0.3s;
  animation: cd-fade-in 0.3s;
}

/* --------------------------------

xkeyframes

-------------------------------- */
@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cart-item-header {
	background: tomato;
    border-bottom: #b9b8b8 1px solid;
}

.cart-info {
	text-align: left;
	display:inline-block;
	width:15%;
}
.cart-info.title {
	width:40%;
	text-align: left;
}
.cart-info.quantity {
	text-align: center;
    width: 90px;
  
}
.cart-info.price {
	min-width:20%;
	text-align:right;
	
}
.cart-info.action {
  width: 5%;
  
  
  
}
.cart-info.action img
{
  width: 100%;
  margin-left:25px;
  height:15px;
  margin-top:0%;
  margin-bottom:1%;

}
.fa-trash{
color: #DC143C;
font-size:35px;
}	

.btn-increment {
    display: inline-block;
    padding: 5px 0px;
    background:#00BFFF;
    width: 20px;
    text-align: center;
    cursor:pointer;
}
.btn-decrement {
    display: inline-block;
    padding: 5px 0px;
    background:#F2F2F2;
    width: 20px;
    text-align: center;
    cursor:pointer;
}


.input-quantity {
  border: 0px;
    width: 25px;
    display: inline-block;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.input-quantity, .numberinput {
    -moz-appearance: textfield;
}

/*#id_telephone{*/
/*    -moz-appearance: textfield;*/
/*}*/

